<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
</head>
<body>
	<footer th:fragment="footer" class="custom-footer">
	    <div class="container">
	        <div class="row justify-content-between">
	            <div class="col-auto">
		            <div class="footer-item instagram-link">
					    <a href="https://www.instagram.com" target="_blank" title="Cliquez ici pour accéder à notre page Instagram">
					        <i class="fab fa-instagram icon"></i> Suivez-nous sur Instagram
					    </a>
					</div>
	 
	            </div>
	            <div class="col-auto">
	               
	                    <div class="footer-item">
						    &copy; <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy')}"></span>
						</div>
 						<div class="footer-item">
	                        Ateliers
	                    </div>
	            </div>
	            <div class="col-auto">
	              		<div class="footer-item">
	                        <img th:src="@{/images/icon.png}" alt="footer-icon" width="30" height="30">
	                    </div>
	                    <div class="footer-item">
	                            Responsabilité
	                    </div>
	            </div>
	        </div>
	    </div>
	</footer>	
</body>
</html> 