<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<style>
	    .no-style {
	        background: none;
	        border: none; 
	        padding: 0; 
	        background-color: transparent;
	    }
	</style>
</head>
<body>
	<header th:fragment="header" id="header">
	    <nav class="navbar navbar-expand-xl navbar-light">
	        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/star.png}" class="logo"> Atelier</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation" id="openNav">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item ">
	                    <a class="nav-link" href="/videos">Accueil</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="/ateliers">Ateliers</a> 
	                </li>
          	        <li class="nav-item" sec:authorize="isAuthenticated()">
						    <a class="nav-link" th:href="@{/liste-reservations(participantId=${session.participantId})}">Reservations</a>
					</li>
		      
                   <li class="nav-item" sec:authorize="isAuthenticated()">
		                <form th:action="@{/logout}" method="post">
						    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						    <input type="submit" value="Logout" class="nav-link"/>
						</form>
		            </li>
		            <li class="nav-item" sec:authorize="!isAuthenticated()">
		                <a class="nav-link" th:href="@{/login}" th:text="#{message.login_en_US}">Login</a>
		            </li>
	            </ul>
	        </div>
	    </nav>
	</header>
</body>
</html>