<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Liste des reservations</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/atelier.css}">
</head>
<body>
<section layout:fragment="content">
    <h1 class="text-center titre-public">Liste de reserveations</h1>
    <div class="main-container container mt-4 mb-4">
        <div class="container-videos">
          <div th:each="detail: ${reservationDetails}" class="video-item">  
            	<div  class="video-wrapper">
                     <div th:with="videoPath=@{/videos/{video}(video=${detail.videoUrl})}" class="video-wrapper">
	                    <video controls>
	                        <source th:src="${videoPath}" type="video/mp4">
	                    </video>
	                </div>
                </div>
                <div th:each="detail : ${reservationDetails}">
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.title}">Title</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.maxParticipants}">Max Participants</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.artisanPrenom + ' ' + detail.artisanNom}">Artisan</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.artisanTelephone}">Telephone</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.artisanEmail}">Email</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.location}">Location</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${#temporals.format(detail.startTime, 'yyyy-MM-dd HH:mm')}">Start Time</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${#temporals.format(detail.endTime, 'yyyy-MM-dd HH:mm')}">End Time</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.participantPrenom + ' ' + detail.participantNom}">Participant</h6>
				</div>
            </div>
            <a th:href="@{/liste-Reservations}" title="Supprimer la reservation">Supprimer la reservation</a>
        </div>
   </div>  
  </section>
</body>
</html>
