<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Atelier Details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/atelier.css}">
</head>
<body>
<section layout:fragment="content">
    <h1 class="text-center titre-public">Détails de l'Atelier</h1>
	<!-- Bootstrap Modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="errorModalLabel">Error</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p th:text="${error}"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="main-container container mt-4 mb-4">
        <div class="container-videos">
            <div class="video-item">
                <div th:with="videoPath=@{/videos/{video}(video=${atelier.videoUrl})}" class="video-wrapper">
                    <video controls>
                        <source th:src="${videoPath}" type="video/mp4">
                    </video>
                </div>
                <h6 class="font-weight-bold font-italic video-info" th:text="${atelier.title}">Title</h6>
                <p class="font-weight-bold font-italic video-info" th:text="'Artisan: ' + ${atelier.artisan.nom} + ' ' + ${atelier.artisan.prenom}">Artisan Name</p>
                <h6 class="font-weight-bold font-italic video-info" 
				    th:text="'De: ' + ${#temporals.format(atelier.startTime, 'yyyy-MM-dd HH:mm')}">
				    Start Time
				</h6>
				<h6 class="font-weight-bold font-italic video-info" 
				    th:text="'À: ' + ${#temporals.format(atelier.endTime, 'yyyy-MM-dd HH:mm')}">
				    End Time
				</h6>
                <p class="text-break" th:text="${atelier.description}">Description</p>
         
				
                <form action="/reserveAtelier" method="post" id="reserveForm">
				    <input type="hidden" name="atelierId" th:value="${atelier.id}">
			        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>    
				    <button type="submit" style="display:none;">Réserver</button>
				</form>
				
				<a href="#" onclick="event.preventDefault(); document.getElementById('reserveForm').submit();">Réserver l'atelier</a>                
            </div>
        </div>
    </div>
    <script>
	$(document).ready(function() {
	    if ($("#errorModal .modal-body p").text().trim().length > 0) {
	        $("#errorModal").modal('show');
	    }
	});
	</script>
</section>
</body>
</html>
