<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
     <link rel="stylesheet" th:href="@{/css/atelier.css}">
     <Style>
	     .alert{font-size:30px;
	     color:red;}
	     .error-container{
			 display: flex;
			    justify-content: center;
			    align-items: center;
			    min-height: 100vh; 
			    text-align: center;
			     text-align:center;
		}
	     .alert {
		    width: 100%; 
		}
     </Style>
</head>
<body>
	<section layout:fragment="content">
	<div class="error-container">
	    <div th:if="${errorMessage}" class="alert alert-danger">
	        <p th:text="${errorMessage}">Error message will be displayed here</p>
	    </div>
	</div>

		
	</section>
</body>
</html>