<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Carousel</title>  
</head>
<body>
	<section layout:fragment="content">
	     <div id="videoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div th:each="videoUrl, iterStat : ${videoUrls}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                    <!-- 构建视频的 URL -->
                    <video class="d-block w-100" th:src="@{'/videos/' + ${videoUrl}}" controls preload="auto"></video>
                </div>
            </div>
            <!-- 左右箭头 -->
            <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
  	</section>
</body>
</html>