<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Liste d'ateliers</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/atelier.css}">
</head>
<body>
 <section layout:fragment="content">
    <h1 class="text-center titre-public">Liste d'ateliers</h1>
    <div class="main-container container mt-4 mb-4">
        <div class="container-videos">
            <div th:each="atelier: ${ateliers}" class="video-item">
            	<div th:with="videoPath=@{/videos/{video}(video=${atelier.videoUrl})}" class="video-wrapper">
                    <video controls>
					    <source th:src="${videoPath}" type="video/mp4">
					</video>
                </div>
                <h6 class="font-weight-bold font-italic video-info" th:text="${atelier.title}">Title </h6>
                <h6 class="font-weight-bold font-italic video-info" 
				    th:text="'De: ' + ${#temporals.format(atelier.startTime, 'yyyy-MM-dd HH:mm')}">
				    Start Time
				</h6>
				<h6 class="font-weight-bold font-italic video-info" 
				    th:text="'À: ' + ${#temporals.format(atelier.endTime, 'yyyy-MM-dd HH:mm')}">
				    End Time
				</h6>
                <p class="text-break" th:text="${#strings.abbreviate(atelier.description, 70)}">Description</p>
                <a th:href="@{/atelier/{id}(id=${atelier.id})}" title="Détails de l'atelier">Détails de l'atelier</a>

            </div>
        </div>
    </div>
  </section>
</body>
</html>
