<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Liste des reservations</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/atelier.css}">
    <style>
    .supprimer{margin-top:30px;}
    </style>
</head>
<body>
<section layout:fragment="content">
    <h1 class="text-center titre-public">Liste de reservations</h1>
	<div th:if="${successMessage}" class="alert alert-success">
	    <p th:text="${successMessage}"></p>
	</div>
	<div th:if="${errorMessage}" class="alert alert-danger">
	    <p th:text="${errorMessage}"></p>
	</div>
    <div class="main-container container mt-4 mb-4">
        <div class="container-videos">
          <div th:each="detail: ${reservationDetails}" class="video-item">  
                     <div th:with="videoPath=@{/videos/{video}(video=${detail.videoUrl})}" class="video-wrapper">
	                    <video controls>
	                        <source th:src="${videoPath}" type="video/mp4">
	                    </video>
	                </div>

				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.title}">Title</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'Artisan: ' + ${detail.artisanPrenom + ' ' + detail.artisanNom}">Artisan</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'Tel: ' + ${detail.artisanTelephone}">Telephone</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'Email: ' + ${detail.artisanEmail}">Email</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'Location: ' + ${detail.location}">Location</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'De: ' + ${#temporals.format(detail.startTime, 'yyyy-MM-dd HH:mm')}">Start Time</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="'À: ' + ${#temporals.format(detail.endTime, 'yyyy-MM-dd HH:mm')}">End Time</h6>
				    <h6 class="font-weight-bold font-italic video-info" th:text="${detail.description}">Description</h6>
				    <h6 class="font-weight-bold font-italic video-info"></h6>
				<a th:href="@{/deleteReservation/{id}(id=${detail.idReservation})}" title="Supprimer la reservation" class="supprimer">Supprimer la reservation</a>
            </div>
 
            
        </div>
   </div>  
  </section>
</body>
</html>