<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Login</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-5 form-inscrire">
        <div class="row">
            <div class="col-md-6 mx-auto" style="margin-top:100px;">
                <div class="card">
                    <div class="card-body">
                        <p th:if="${success}" th:text="${success}"></p>
                        <form th:action="@{/login}" method="post">
                            <h5 class="card-title">Login</h5>
               				<div class="form-group mb-3">                        
                                <input type="text" id="email" class="form-control" name="email" th:value="${email}" placeholder="Email">
                            </div>
                            <div class="form-group mb-3">
							    <input type="password" class="form-control text-muted" id="password" name="motDePasse" 
							    placeholder="Mot de passe" required autocomplete="current-password" />
							</div>

                            
                            <div class="btn-sauvegarder">
                                <button type="submit" class="btn btn-primary btn-custom">Login</button>
                            </div>
                            <div th:if="${param.error}">
							    <div class="alert alert-danger">
							        Invalid username or password.
							    </div>
							</div>
														
                            
                        </form>
                         <div class="mt-3">
                            Pas encore inscrit ? <a href="/register">Cliquez ici</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
</body>
</html>