<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
    <title>Register</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-5 form-inscrire">
        <div class="row">
            <div class="col-md-6 mx-auto" style="margin-top:100px;">
                <div class="card">
                    <div class="card-body">
                        
                        <form th:action="@{/register}" method="post">
                            <h5 class="card-title">Register</h5>
                            <div class="form-group mb-3">                         
                                <input type="text" id="nom" class="form-control" name="nom" th:value="${nom}" placeholder="Nom">
                            </div>

                            <div class="form-group mb-3">            
                                <input type="text" id="prenom" class="form-control" name="prenom" th:value="${prenom}" placeholder="Prénom">
                            </div>

                            <div class="form-group mb-3">                        
                                <input type="text" id="email" class="form-control" name="email" th:value="${email}" placeholder="Email">
                            </div>
                            <div class="form-group mb-3">
							    <input type="password" class="form-control text-muted" id="password" name="motDePasse" 
							    placeholder="Mot de passe" required autocomplete="new-password" />
							</div>
							
							<div class="form-group mb-3">
							    <input type="password" class="form-control text-muted" id="password_confirmation" 
							    name="password_confirmation" placeholder="Confirmez le mot de passe" required autocomplete="new-password" />
							</div>
                            <div class="btn-sauvegarder">
                                <button type="submit" class="btn btn-primary btn-custom">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
</body>
</html>