@charset "UTF-8";
.video-item {
    max-width: 80rem; /* Vous pouvez augmenter cela si vous voulez des éléments vidéo encore plus grands */
    background-color: #fff;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Ajustez ce pourcentage pour modifier la hauteur par rapport à la largeur */
    overflow: hidden;
}

.main-container {
    padding-left: 3rem; /* Marge de gauche réduite */
    padding-right: 3rem; /* Marge de droite réduite */
    margin: auto; /* Centrage */
    max-width: 100%; /* Vous pouvez ajuster selon les besoins */
    width: 100%; /* Ajoutez cette propriété */
    box-sizing: border-box; /* Ajoutez cette propriété */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Largeur minimale augmentée pour les vidéos plus grandes */
    gap: 1.25rem;
}

@media (min-width: 1500px) {
    .container-videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.video-item h5, .video-item h6 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.video-item h5 {
    margin-bottom: -1.5rem;
    font-size: 1.5rem;
}

.video-item h6 {
    margin-bottom: -1.5rem;
    color: #666;
}

.video-item a {
    display: block;
    text-align: center;
    background-color: #AE8B2F;
    color: #fff;
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 0.3125rem;
    margin-top: -1rem;
}

.video-item a:hover {
    background-color: #FFC400;
}

.text-center {
    text-align: center; /* Centrer le texte du titre */
    padding: 2.25rem; /* Espacement interne pour l'en-tête */
    background-color: #fff; /* Couleur de fond blanc pour l'en-tête */
    margin-bottom: 2.25rem; /* Marge inférieure pour l'en-tête */
    box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* Ombre pour l'en-tête */
    width: 100%;

}

/* Exemple pour les appareils mobiles */
@media (max-width: 668px) {
    .text-center {
        font-size: 1.5rem; /* Réduire la taille de la police pour les appareils mobiles */
    }
}

.dropdown-menu {
    border-radius: 0.25rem; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour le menu déroulant */
    text-decoration: none;
}

.btn-pr {
    background-color: #AE8B2F; /* Couleur du bouton correspondant à votre marque */
    border: none; /* Supprimer la bordure */
    padding: 0.6rem;
    color: #fff;
}

.btn-pr:hover {
    background-color: #FFC400; /* Couleur au survol */
    color: #fff;
}

.dropdown-item {
    color: #333; /* Couleur du texte des éléments */
}

.dropdown-item:hover {
    background-color: #f5f5f5; /* Couleur de fond des éléments au survol */
}

@media (max-width: 450px) {
    .main-container {
        padding-left: 1rem; /* Marge de gauche réduite */
        padding-right: 1rem; /* Marge de droite réduite */
    }
    .video-item {
        max-width: 100%; /* Définir la largeur maximale à 100% */
        margin-bottom: 1rem; /* Marge inférieure réduite */
        padding: 1rem; /* Marge intérieure réduite */
    }
    .video-wrapper {
        /* Ne pas supprimer la marge supérieure pour conserver le rapport d'aspect */
        padding-top: 56.25%; /* Maintenir le rapport d'aspect 16:9 */
    }
    .container-videos {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Réduire la largeur minimale de la colonne */
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Changer en 'cover' pour que la vidéo remplisse complètement le conteneur */
    }
}

.titre-public{
    margin-top: 100px;
}

.video-info{margin-bottom: -20px;}



