@charset "UTF-8";

.form-connect,.form-blog,.form-client,.form-inscrire,.form-avis,.form-video{
    width:768px;
    height:auto;
    margin-top: 5rem;
}

.card {
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #CFCCBE;
}


.form-control {
    background-color: #CFCCBE;
    border: none;
    border-bottom: 2px solid #AE8B2F;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.btn-custom {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.7;
    border-radius: 50px;
    width:130px;
    color:black;
}

.btn-custom-connect{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.7;
    border-radius: 50px;
    width:150px;
    color:black;
}
.form-check{
    text-align: right;
}

.btn-connect,.google-connect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top:30px;
}
.btn-inscrire,.btn-sauvegarder{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sexe.justify-content-between {
    justify-content: space-between;
}

.form-group {
    height: 30px;
}

.form-control, .d-flex.align-items-center.form-control {
    height: 100%;
    display: flex;
    align-items: center;
}

.form-group.mb-3 {
    position: relative;
}

.btn-primary:hover {
    background-color: #FFC400;
    border: none;
    color:black;
}

.form-check {
    text-align: left; /* Veiller à ce que le contenu soit aligné à gauche */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-check-input {
    margin-right: 5px;
}

.category-select {
    position: absolute;
    right: 30px;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 10px;
    width:180px;
}
.button-container {
    text-align: center; /* Centrer le contenu du conteneur */
}

#hide-dropdown {
    padding: 2px 2px;
    font-size: 15px;
    margin-top: 3px;
    display: inline-block;
    width:30px;
}


.btn-primary{
    background-color: #AE8B2F;
    border-color: #AE8B2F;
}

.connect-google{
    text-decoration:solid;
    color:black;
    text-decoration: underline;
    text-decoration-color:green;
    text-underline-offset: 5px;
}

.goolge{
    font-size: 18px;
}

.connect-google:hover,.mot-passe-oublie:hover{
    color:#AE8B2F !important;
}

.entraineur-title{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
    margin-bottom: 40px;
}

.text-center p {
    margin: 0.5em 0;
    font-size: 14px;
}

.form-text {
    color:#343541;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.btn-group .btn {
    margin: 0 30px;
    border-radius: 50px !important;
}

.btn-group{
    margin-top: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mot-passe-oublie{
    text-decoration: underline;
    text-decoration-color:green;
    text-underline-offset: 5px;
}

.calendar-link,.message-link{
    text-decoration: none;
    color: inherit;
}
.card-title{
    text-align: center;
    font-family:Arial, sans-serif;
    font-weight: 700;
    margin: 20px auto;
}

.category,.photo-profil,.naissance{
    margin-bottom: 12px;
}

.form-description,.form-description-au {
    position: relative;
    font-size: 12px;
    margin-top: 25px;
}

#description-entraineur,#description-video,#description-blog,#chat-text,#gerer-message,#text-message {
    width: 100%;
    padding: 20px 12px;
    box-sizing: border-box;
    resize: none;
    border-style: none;
}

#gerer-message{
    width:70%;
}

#text-message{
    width:90%;
}

#description-entraineur:focus + .placeholder {
    display: none;
}

#description-video:focus + .placeholder {
    display: none;
}

#description-blog:focus + .placeholder {
    display: none;
}

#chat-text:focus + .placeholder {
    display: none;
}

.form-description::before {
    content: attr(data-placeholder);
    position: absolute;
    bottom: 10px;
    left: 12px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s;
}

.form-description-au {
    position: relative;
}

.form-description-au::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    pointer-events: none;
    color: #aaa;
    margin-left: 10px;
}

textarea:focus + .form-description-au::before {
    display: none;
}

#description-entraineur:not(:placeholder-shown)::before {
    display: none;
}

#description-video:not(:placeholder-shown)::before {
    display: none;
}

#description-blog:not(:placeholder-shown)::before {
    display: none;
}

#chat-text:not(:placeholder-shown)::before {
    display: none;
}

.ajoute-avis{
    margin:auto 10px;
}

.star-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px auto;
}

.chat-window {
    width: 350px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
}

.chat-header {
    background-color: #AE8B2F;
    color: black;
    padding-top: 15px;
    padding-bottom: 1px;
    padding-right: 2px;
}

.btn-chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.photo-chat-header{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    margin-top: 15px;

}

.close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateY(-50%);
    flex-basis: 10%;
    font-size: 30px;
    font-weight: 600;
}

.chat-content {
    padding: 10px 15px;
    background-color: #D9D9D9;
    flex-grow: 1;
    min-height: 300px;
}

.chat-input {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    border-top: 2px solid #AE8B2F;
    background-color: #D9D9D9;
}

.chat-input input {
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

.chat-text{
    background-color: #D9D9D9;
    height: 36px;
    font-size: 14px;
    width: 100%;
    overflow-y: auto;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    resize: vertical;
    box-sizing: border-box;
    overflow-y:  hidden;
    resize: none;
}

.photo-chat{
    margin-right: 5px;
    transform: translateY(-50%);
}

.chat-title{
    margin: 0;
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
    font-weight: 600;
}

.chat-reponse{
    font-size: 14px;
}

/*  Bôite de réception */
.container.form-reception {
    font-family: Arial, sans-serif;
    max-width: 700px;
}


.bg-column-1,.bg-column-2,.bg-column-3{
    background-color: #D9D9D9 !important;
}


.list-group-item {
    display: block;
    width: 100%;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.list-group-item.active {
    color: #AE8B2F;
}

.list-group-item:hover {
    background-color: #8BB08E;
    color: #fff;
    text-decoration: none;
}

.btn-supprime{
    border-radius: 50px;
    color:black;
    font-weight: 500;
    height:30px;
    width:130px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
}

.table-header-2,.table-header-3{
    padding-left: 25px;
}

.checkbox,.message{
    margin-top:5px;
    margin-bottom:5px;
}

.checkbox{
    margin-right: 5px;
}

#borde-envoyer-1,#borde-envoyer-2{
    border-bottom: none;
}

.bord-merge{
    border-bottom: none;
    background-color: #D9D9D9 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    background-color: #D9D9D9;
    padding-left: 20px;
}

.liste-item-12{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width:170px;
    background-color: #fff !important;
    margin-bottom: 8px;
}

.title-reception{
    text-align: left;
    margin-left: 5px;
    font-weight: 550;
    font-size: 18px;
}

.title-gerer{
    text-align: center;
    font-weight: 550;
    font-size: 18px;
}

.liste-item-13{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #fff !important;
    margin-bottom: 8px;
}

.liste-item-14{
    grid-column: 2 / 4;
    grid-row: 3 / 10;
    background-color: #fff !important;
}

.liste-item-15{
    grid-column: 2 / 4;
    grid-row: 3 / 10;
    background-color: #fff !important;
}

.liste-item-1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width:170px;
    background-color: #fff !important;
    margin-bottom: 8px;
}

.liste-item-2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width:170px;
    margin-bottom: 8px;
    vertical-align: middle;
    padding-left: 25px;
}

.liste-item-3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-bottom: 8px;
    vertical-align: middle;
}

.liste-item-4{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width:170px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}
.liste-item-5{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display:flex;
    width:170px;
    border-bottom: 1px solid #333;
}

.liste-item-6{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-bottom: 1px solid #333;
}

.liste-item-7{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width:170px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}
.liste-item-8{
    grid-column: 2 / 4;
    grid-row: 4 / 10;
}
.liste-item-9{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    width:170px;
    border-right: 1px solid #333;
}

.liste-item-10{
    grid-column: 1 / 2;
    grid-row: 6 / 11;
    width:170px;
    border-right: 1px solid #333;
}


.liste-item-11{
    grid-column: 2 / 4;
    grid-row: 10 / 11;
    text-align: right;
}

.item5 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 10px;
    background-color: #fff !important;
}
.item6 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 10px;
    background-color: #fff !important;
}
.item1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 10px;
    margin-right: 0px;
}
.item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}
.item3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-right: 0px;
}
.item4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-right: 0px;
}

.bg-merge {
    background-color: #D9D9D9;
}

.btn-envoyer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.item2{
    border-left: 1px solid #333;
    padding-left: 20px;
}

.item1,.item3{
    border-bottom: 1px solid #333;
}

.item1,.item3,.item4{
    height: 45px;
    vertical-align: middle;
}

.grid-reception {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}

.grid-item {
    padding: 10px;
}

.liste-item-1, .liste-item-5, .liste-item-8 {
    background-color: #D9D9D9;
    text-align: center;
}

.title-reception{
    display:flex;
}

.message-info{
    font-weight: 550;
}

.underline{
    text-decoration:underline;
    text-decoration-color: #0D99FF;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}

.envoyer-item{
    border-bottom: none;
}

.row{
    margin-bottom: 50px;;
}

@media (max-width: 768px) {
    /*.form-connect,.form-blog,.form-client,.form-inscrire,.form-avis,.form-fonto，.form-entraineur,.form-video{
         width:70%;
     }*/

     .btn-group {
         flex-direction: column; /* Empiler les boutons verticalement sur les petits écrans */
         align-items: center;
     }

     .btn-group .btn {
         margin-bottom: 10px; /* Espace entre les boutons */
     }

     #inscrire-entraineur{
         margin-left: 26px;
     }
     /* Supprimer la marge en bas du dernier bouton */
     .btn-group .btn:last-child {
         margin-bottom: 0;
     }

 }

 @media (max-width: 600px) {
     .form-connect,.form-blog,.form-client,.form-inscrire,.form-avis,.form-entraineur,.form-video {
         width: 100%;
         padding: 0;
         margin: 0;
     }

     .form-connect .row,.form-blog .row,.form-client .row,.form-inscrire .row,.form-avis .row, .row，.form-entraineur .row,.form-video .row  {
         margin-right: 0;
         margin-left: 0;
     }

     .form-connect .col-md-6,.form-blog .col-md-6,.form-inscrire .col-md-6,.form-avis .col-md-6,.col-md-6，.form-entraineur .col-md-6,.form-video .col-md-6.form-client .col-md-6 {
         flex: 0 0 100%;
         max-width: 100%;
     }

     .entraineur-title{font-size: 30px;}
 }

 @media (max-width: 450px){
    .chat-window {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
     }

     .container, .row, .col-md-6 {
        padding: 0;
        margin: 0;
    }
 }

