@charset "UTF-8";
/* Styles généraux */

/* Image dans la section "Introduction" */
.intro-image {
    position: relative; /* Position relative */
    padding-top: 100px;
}

/* Styles de l'image */
.intro-image img {
    width: 100%;
    max-width: 100%;
    height: auto; /* Largeur de 100%, hauteur automatique */
}

/* Section du texte superposé à l'image */
.text-part {
    position: absolute; /* Position absolue */
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: rgba(243, 237, 217, 0.8); /* Couleur de fond avec transparence */
    padding: 3% 5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre */
    max-width: 50%;

}

/* Titre h2 */
h2 {
    line-height: 1.0; /* Hauteur de ligne */
    margin-bottom: 2%;
    font-size: 2.0vw; /* Taille de police en vw (unité relative) */
}

/* Bouton personnalisé */
.btn-custom, .btn-publiques, button {
    background-color: #AE8B2F; /* Couleur de fond */
    color: #333;
    border: none; /* Pas de bordure */
    padding: 1vw 1.5vw;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.5vw;
    transition: background-color 0.3s ease; /* Transition sur la couleur de fond */
    font-weight: bold;
}

/* Au survol du bouton */
.btn-custom:hover, .btn-publiques:hover, button:hover {
    background-color: #FFC400; /* Changement de couleur de fond au survol */
}

/* Texte de grande taille */
.larger-text {
    font-size: 2.8em;
    font-weight: bold;
}

/* Section des vidéos publiques */
.video-publiques {
    padding: 5% 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #8BB08E; /* Couleur de fond */
}

/* Texte dans la section des vidéos publiques */
.video-publiques p {
    font-size: 2.0vw;
    max-width: 60%;
    margin-right: 20%;
}



/* Section d'enregistrement */
.reg-section {
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section "Rejoindre l'équipe" */
.join-team-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partie texte de la section */
.text-section {
    flex: 1;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

/* Conteneur de bouton */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

/* Image dans la section "Rejoindre l'équipe" */
.join-team-section img {
    max-width: 25%;
    height: 100%;
    object-fit: cover;
}

/* Texte dans la partie texte */
.text-section p {
    font-size: 1.8vw;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
    /* Sections "video-publiques", "advantages-section" et "reg-section" */
    .video-publiques, .advantages-section, .reg-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .video-publiques p, .text-section p {
        font-size: 20px;
        max-width: 100%;
        margin-right: 0;
    }

    .btn-publiques, .btn-custom, button {
        margin-top: 10px;
        font-size: 14px;
    }

   
}

/* Media queries pour les très petits écrans */
@media (max-width: 668px) {

    .larger-text{
        font-size: 16px;
    }

    /* Section "intro-image" sur les très petits écrans */
    .intro-image h2 {
        font-size: 2.9vw;
    }

    /* Section "video-publiques" sur les très petits écrans */
    .video-publiques p {
        font-size: 16px;
    }

    .btn-publiques, .btn-custom {
        font-size: 14px;
    }

    /* Section "advantages-section" sur les très petits écrans */
    .advantages-section {
        font-size: 14px;
    }

    .advantage-columns h3 {
        font-size: 16px;
    }

    /* Section "reg-section" sur les très petits écrans */
    .reg-section .text-section p {
        font-size: 14px;
    }

    .title-avan {
        font-size: 20px;
    }
    .intro-image {
        padding-top: 100px; /* Увеличьте значение, если это необходимо */
    }
}
@media (max-width: 500px) {
    /* Mise à jour des styles pour text-part sur les très petits écrans */
    .text-part {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 30px;
        max-width: 100%;
        width: 100%;
        background-color: rgba(243, 237, 217, 0.8);
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 80px;
    }
    .intro-image {
        padding-top: 100px; /* Увеличьте значение, если это необходимо */
    }
}
